In [20]:
# Imports

import sklearn
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## Loading and split preprocessed data

In [23]:
import os
current_directory = os.getcwd()
print(current_directory)

c:\Users\james\Documents\GitHub\Phase_2\Training_and_Evaluation

In [29]:
# Importing the cleaned dataset
dataPath = "raw_data"
df = pd.read_csv("c:/Users/james/Documents/GitHub/Phase_2/cleaned_data/market_segmentation_cleaned.csv")

# Just double checking that the data has been imported correctly
df.head()

,Have_Married_Before,Have_Graduated,Age,Work_Experience,Family_Size,Spending_Score_Lab,Profession_Artist,Profession_Doctor,Profession_Engineer,Profession_Entertainment,...,Segmentation_B,Segmentation_C,Segmentation_D,Var_1_Cat_1,Var_1_Cat_2,Var_1_Cat_3,Var_1_Cat_4,Var_1_Cat_5,Var_1_Cat_6,Var_1_Cat_7
0,0.0,0.0,22.0,1.0,4.0,2,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
1,1.0,1.0,38.0,NaN,3.0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,1.0,1.0,67.0,1.0,1.0,2,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0
3,1.0,1.0,67.0,0.0,2.0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
4,1.0,1.0,40.0,NaN,6.0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [31]:
# Splitting the data using random state 101 with a 70-30 train-test split

from sklearn.model_selection import train_test_split


# Define the target variable column name
target_column = ["Segmentation_A", "Segmentation_B", "Segmentation_C", "Segmentation_D"] # Replace 'target_column' with the name of your target column

# Separate the features (X) and the target variable (y)
X = df.drop(target_column, axis=1)
y = df[target_column]

# Perform the 70-30 train-test split with a random state of 101
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# Create two separate DataFrames for training and testing
df_train = pd.concat([X_train, y_train], axis=1)
df_test = pd.concat([X_test, y_test], axis=1)

df_train.head()

,Have_Married_Before,Have_Graduated,Age,Work_Experience,Family_Size,Spending_Score_Lab,Profession_Artist,Profession_Doctor,Profession_Engineer,Profession_Entertainment,...,Var_1_Cat_2,Var_1_Cat_3,Var_1_Cat_4,Var_1_Cat_5,Var_1_Cat_6,Var_1_Cat_7,Segmentation_A,Segmentation_B,Segmentation_C,Segmentation_D
253,1.0,1.0,70.0,1.0,3.0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3653,1.0,0.0,76.0,NaN,1.0,2,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2838,1.0,1.0,70.0,0.0,2.0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
826,1.0,1.0,48.0,9.0,1.0,2,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
1225,1.0,1.0,33.0,0.0,2.0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [32]:
# Verify the shapes of the DataFrames
print("Original DataFrame shape:", df.shape)
print("Training DataFrame shape:", df_train.shape)
print("Testing DataFrame shape:", df_test.shape)

# Verify the proportions of the train-test split
total_samples = df.shape[0]
train_samples = df_train.shape[0]
test_samples = df_test.shape[0]

train_proportion = train_samples / total_samples
test_proportion = test_samples / total_samples

print("Proportion of training samples:", train_proportion)
print("Proportion of testing samples:", test_proportion)

Original DataFrame shape: (8068, 26)
Training DataFrame shape: (5647, 26)
Testing DataFrame shape: (2421, 26)
Proportion of training samples: 0.6999256321269212
Proportion of testing samples: 0.30007436787307884